---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/alpine/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 11, "next": null, "previous": null, "results": [{"name": "edge",
      "full_size": 2066104, "images": [{"size": 1988999, "architecture": "s390x",
      "variant": null, "features": null, "os": "linux", "os_version": null, "os_features":
      null}, {"size": 2081650, "architecture": "ppc64le", "variant": null, "features":
      null, "os": "linux", "os_version": null, "os_features": null}, {"size": 2126447,
      "architecture": "386", "variant": null, "features": null, "os": "linux", "os_version":
      null, "os_features": null}, {"size": 1988998, "architecture": "arm64", "variant":
      null, "features": null, "os": "linux", "os_version": null, "os_features": null},
      {"size": 2038545, "architecture": "arm", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os_features": null}, {"size": 2066104, "architecture":
      "amd64", "variant": null, "features": null, "os": "linux", "os_version": null,
      "os_features": null}], "id": 170603, "repository": 160398, "creator": 7, "last_updater":
      1156886, "last_updated": "2018-03-29T05:41:19.602683Z", "image_id": null, "v2":
      true}, {"name": "latest", "full_size": 2065537, "images": [{"size": 2185406,
      "architecture": "s390x", "variant": null, "features": null, "os": "linux", "os_version":
      null, "os_features": null}, {"size": 2081645, "architecture": "ppc64le", "variant":
      null, "features": null, "os": "linux", "os_version": null, "os_features": null},
      {"size": 2126392, "architecture": "386", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os_features": null},[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/redis/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 142, "next": "https://hub.docker.com/v2/repositories/library/redis/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "4.0-32bit", "full_size": 43014477, "images":
      [{"size": 43014477, "architecture": "amd64", "variant": null, "features": null,
      "os": "linux", "os_version": null, "o[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/busybox/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 95, "next": null, "previous": null, "results": [{"name": "latest",
      "full_size": 723172, "images": [{"size": 2115901, "architecture": "s390x", "variant":
      null, "features": null, "os": "linux", "os_version": null, "os_features": null},
      {"size": 2143662, "architecture": "ppc64le", "variant": null, [...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/nginx/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 153, "next": "https://hub.docker.com/v2/repositories/library/nginx/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "1.12-perl", "full_size": 54330285, "images":
      [{"size": 54660427, "architecture": "s390x", "variant": null, "features": null,
      "os": "linux", "os_version": null, "o[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/postgres/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 178, "next": "https://hub.docker.com/v2/repositories/library/postgres/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "alpine", "full_size": 14963501, "images":
      [{"size": 14579738, "architecture": "s390x", "variant": null, "features": null,
      "os": "linux", "os_version": null,[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/golang/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 561, "next": "https://hub.docker.com/v2/repositories/library/golang/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "1.9", "full_size": 286299441, "images":
      [{"size": 3193707889, "architecture": "amd64", "variant": null, "features":
      null, "os": "windows", "os_version": "10.0.1[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 257, "next": "https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "xenial", "full_size": 43029341, "images":
      [{"size": 42094889, "architecture": "s390x", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/python/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 496, "next": "https://hub.docker.com/v2/repositories/library/python/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "2", "full_size": 270536283, "images":
      [{"size": 3091037218, "architecture": "amd64", "variant": null, "features":
      null, "os": "windows", "os_version": "10.0.162[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/openjdk/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 622, "next": "https://hub.docker.com/v2/repositories/library/openjdk/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "jre-slim", "full_size": 79282917, "images":
      [{"size": 70988855, "architecture": "s390x", "variant": null, "features": null,
      "os": "linux", "os_version": null,[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/docker/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 667, "next": "https://hub.docker.com/v2/repositories/library/docker/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "17-git", "full_size": 45404758, "images":
      [{"size": 44928992, "architecture": "s390x", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/debian/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 177, "next": "https://hub.docker.com/v2/repositories/library/debian/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "unstable-slim", "full_size": 26007006,
      "images": [{"size": 25056183, "architecture": "s390x", "variant": null, "features":
      null, "os": "linux", "os_version": nu[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/golang/tags/?page=6&page_size=100
    method: GET
  response:
    body: '{"count": 561, "next": null, "previous": "https://hub.docker.com/v2/repositories/library/golang/tags/?page=5&page_size=100",
      "results": [{"name": "1.5.0-onbuild", "full_size": 222152734, "images": [{"size":
      222152734}], "id": 769175, "repository": 40228, "creator": 2215, "last_updater":
      2215, "last_[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page=3&page_size=100
    method: GET
  response:
    body: '{"count": 257, "next": null, "previous": "https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page=2&page_size=100",
      "results": [{"name": "vivid-20150309", "full_size": 49448856, "images": [{"size":
      49448856}], "id": 2317, "repository": 130, "creator": 7, "last_updater": 134455,
      "last_update[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/nginx/tags/?page=2&page_size=100
    method: GET
  response:
    body: '{"count": 153, "next": null, "previous": "https://hub.docker.com/v2/repositories/library/nginx/tags/?page_size=100",
      "results": [{"name": "1.11.8", "full_size": 71544045, "images": [{"size": 71544045,
      "architecture": "amd64", "variant": null, "features": null, "os": "linux", "os_version":
      null, "os_f[...]
[...]
