---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 257, "next": "https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "xenial", "full_size": 43029341, "images":
      [{"size": 42094889, "architecture": "s390x", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os_features": null}, {"size": 45433423,
      "architecture": "ppc64le", "variant": null, "features": null, "os": "linux",
      "os_version": null, "os_features": null}, {"size": 43338188, "architecture":
      "386", "variant": null, "features": null, "os": "linux", "os_version": null,
      "os_features": null}, {"size": 39226321, "architecture": "arm64", "variant":
      null, "features": null, "os": "linux", "os_version": null, "os_features": null},
      {"size": 38129187, "architecture": "arm", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os_features": null}, {"size": 43029341,
      "architecture": "amd64", "variant": null, "features": null, "os": "linux", "os_version":
      null, "os_features": null}], "id": 1589976, "repository": 130, "creator": 2215,
      "last_updater": 1156886, "last_updated": "2018-05-01T01:37:33.416596Z", "image_id":
      null, "v2": true}, {"name": "xenial-20180417", "full_size": 43029341, "images":
      [{"size": 42094889, "architecture": "s390x", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os_features": null}, {"size": 45433423,
      "architecture": "ppc64le", "variant": null, "features": null, "os": "linux",
      "os_version": null, "os_features": null}, {"size": 43338188, "architecture":
      "386", "variant": null, "features": null, "os": "linux", "os_version": null,
      "os_feat[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page=2&page_size=100
    method: GET
  response:
    body: '{"count": 257, "next": "https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page=3&page_size=100",
      "previous": "https://hub.docker.com/v2/repositories/library/ubuntu/tags/?page=1&page_size=100",
      "results": [{"name": "xenial-20161121", "full_size": 50098887, "images": [{"size":
      50098887, "arc[...]
[...]
