---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/redis/tags/?page_size=100
    method: GET
  response:
    body: '{"count": 142, "next": "https://hub.docker.com/v2/repositories/library/redis/tags/?page=2&page_size=100",
      "previous": null, "results": [{"name": "4.0-32bit", "full_size": 43014477, "images":
      [{"size": 43014477, "architecture": "amd64", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os_features": null}], "id": 12962529, "repository":
      21187, "creator": 2215, "last_updater": 1156886, "last_updated": "2018-05-06T01:42:59.960513Z",
      "image_id": null, "v2": true}, {"name": "32bit", "full_size": 43014477, "images":
      [{"size": 43014477, "architecture": "amd64", "variant": null, "features": null,
      "os": "linux", "os_version": null, "os_features": null}], "id": 577536, "repository":
      21187, "creator": 2215, "last_updater": 1156886, "last_updated": "2018-05-03T15:56:53.205209Z",
      "image_id": null, "v2": true}, {"name": "4-32bit", "full_size": 43014477, "images":
      [{"size": 43014477, "architecture": "amd64", "variant": null, "fe[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://hub.docker.com/v2/repositories/library/redis/tags/?page=2&page_size=100
    method: GET
  response:
    body: '{"count": 142, "next": null, "previous": "https://hub.docker.com/v2/repositories/library/redis/tags/?page=1&page_size=100",
      "results": [{"name": "2-32bit", "full_size": 75650064, "images": [{"size": 75650064,
      "architecture": "amd64", "variant": null, "features": null, "os": "linux", "os_version":
      nul[...]
